<% if (success === "true") { %>
    <div class="alert">
      <% if (action === "create") { %>
        <div class="py-2 alert-success" role="alert">
          Congrats! Meal Plan successfully created
        </div>
      <% } else if (action === "update") { %>
        <div class="py-2 alert-info" role="alert">
          Meal Plan is successfully updated
        </div>
      <% } else if (action === "delete") { %>
        <div class="py-2 alert-danger" role="alert">
          Meal Plan is successfully deleted
        </div>
      <% } else if (action === "bought") { %>
        <div class="py-2 alert-info" role="alert">
          Thank you for your purchase. Hope to see you again soon!
        </div>  
      <% } %>
    </div>
<% } %>
