<% if (success === "true") { %>
    <div class="alert">
      <% if (action === "create") { %>
        <div class="py-2 alert-success" role="alert">
          Congrats! New Dish is successfully created!
        </div>
      <% } else if (action === "update") { %>
        <div class="py-2 alert-info" role="alert">
          Dish is successfully updated!
        </div>
      <% } else if (action === "delete") { %>
        <div class="py-2 alert-danger" role="alert">
          Dish is successfully deleted!
        </div>
      <% } else if (action === "bought") { %>
        <div class="py-2 alert-info" role="alert">
          Good Job for adding yet another new dish!
        </div>  
      <% } %>
    </div>
<% } %>