<!-- CONTACT SECTION -->

<section class="contact-form " id="contact">
    <h2 class="section-heading">Contact Us</h2>
    <p>We'd love to hear from you! Drop us a note via the contact form below, or email us at diyLifestyle@gmail.com</p>
    <div class="container contact-form">
            <form action="/">
                <div class="row">
                    <div class="col">
                        <label for="fname">First Name:</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your first name*">
                    </div>
                    <div class="col">
                        <label for="lname">Last Name:</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name*">
                    </div>
                    <div class="col">
                        <label for="contact">Contact:</label>
                        <input type="text" id="contact" name="contact" placeholder="Your contact*">
                    </div>
                    <label for="phone" class="py-3">Subject: </label>
                    <select id="subject" name="subject">
                        <option value="query">General Enquiries</option>
                        <option value="opportunity">Looking for partnerships</option>
                        <option value="complaints">What you want us to improve on</option>
                    </select>
                    <textarea id="subject" name="subject" placeholder="Feel Free to ask us anything!*" style="height:200px"></textarea>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>