<!-- FAQ SECTION -->
<section class="orange-section py-5" id="faq">
    <h2 class="section-heading mb-4">Frequently Asked Questions</h2>
    <div class="content-section-short faqs">
        <div class="faqs-container white-section">
            <div class="faq-question-wrap">
                <a href="#" class="faq-question-bar w-inline-block">
                    <div class="question-title">How much does it cost?</div>
                    <img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></a>
                    <div class="faq-content" style="width: 776px; height: 0px;">
                        <p class="faq-paragraph">Cococart is free for small businesses! You can buy optional upgrades if you want to support us.</p>
                    </div>
                </div>
                <div class="faq-question-wrap">
                    <a href="#" class="faq-question-bar w-inline-block">
                    <div class="question-title">Where do my orders go?</div>
                    <img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5;"></a>
                    <div class="faq-content" style="height: 0px;">
                        <p class="faq-paragraph">We've built an order management system for you. Simply log in to your admin dashboard and you'll be able to manage your orders, see your earnings, add products, and more!</p></div></div><div class="faq-question-wrap"><a href="#" class="faq-question-bar w-inline-block"><div class="question-title">How do I receive payments?</div><img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5;"></a><div class="faq-content" style="height: 0px;"><p class="faq-paragraph">You can fully customize how you wish to be paid. We support all payment methods from credit cards to bank transfer, Venmo to Zelle, PayNow to GCash.</p></div></div><div class="faq-question-wrap"><a href="#" class="faq-question-bar w-inline-block"><div class="question-title">What fees are there?</div><img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5;"></a><div class="faq-content" style="height: 0px;"><p class="faq-paragraph">For payments direct to your account, there are <strong>no fees</strong>. For credit/debit card payments, we use Stripe.com which has a standard 3-4% for all merchants.</p></div></div><div class="faq-question-wrap"><a href="#" class="faq-question-bar w-inline-block"><div class="question-title">How long does it take to get set up?</div><img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5;"></a><div class="faq-content" style="height: 0px;"><p class="faq-paragraph">Literally less than 5 minutes! You can get started right away.</p></div></div><div class="faq-question-wrap faqs-last"><a href="#" class="faq-question-bar w-inline-block"><div class="question-title">What countries do you support?</div><img src="https://uploads-ssl.webflow.com/60f35132d5febb6f03ec9d7a/60f9d8d85891d4814cda8ba4_Plus-black.svg" alt="" class="plus" style="opacity: 0.5;"></a><div class="faq-content" style="height: 0px;"><p class="faq-paragraph">Anyone can use Cococart from anywhere in the world!</p>
                    </div>
                </div>
            </div>
        </div>
</section>