<!-- FEATURES SECTION -->
<section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-6x"></i>
          <h3 class="feature-title">Convenient & Easy to use</h3>
          <p>So easy to use, even your mum will love it!</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-6x"></i>
          <h3 class="feature-title">Achieve Your Goals</h3>
          <p>Striving to help individuals achieve their health goals effortlessly.</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-6x"></i>
          <h3 class="feature-title">Create & Share Your Meal</h3>
          <p>Design your favourite dishes and share with your friends</p>
        </div>
      </div>
    </div>
</section>