<footer class="text-muted py-5">
    <div class="container py-2">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 - diyLifeStyle </p>
    </div>
  </footer>