<!-- MAIN HEADER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>diyLifeStyle</title>

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-lg">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <div class="container">
                <ul class="navbar-nav align-items-center justify-content-center mr-auto">
                    <!-- <i class="fas fa-bullseye"></i> -->
                    <!-- <a class="navbar-brand" href="/diylifestyle"><strong>diyLifeStyle</strong></a> -->
                    <a class="navbar-brand" href="/">
                        <img src="/images/diylifestyle_logo.png" alt="">
                      </a>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">                      
                        <a class="nav-link " href="/#testimonials">Hear More</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#faq">FAQ</a>
                    </li>
                    <% if (username) { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary my-1" href="/users/logout" style="color: white;">LOG OUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-warning my-1" href="/diylifestyle/index/1" style="color: white;">MY MEALS</a>
                        </li>
                      <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary my-1" href="/users/login" style="color: white;">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-warning my-1" href="/users/signup">SIGN UP</a>
                        </li>
                      <% } %>
                </ul>
            </div>
        </div>
    </nav>
</head>

