<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="icon" href="/images/favicon.ico">
    <title>diyLifeStyle</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-lg">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <div class="container">
                <ul class="navbar-nav align-items-center justify-content-center mr-auto">
                    <!-- <i class="fas fa-bullseye"></i> -->
                    <!-- <a class="navbar-brand" href="/diylifestyle"><strong>diyLifeStyle</strong></a> -->
                    <a class="navbar-brand" href="/">
                        <img src="/images/diylifestyle_logo.png" alt="">
                      </a>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary my-1" href="/diylifestyle/login" style="color: white;">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

