<% if (pages > 0) { %>
    <ul class="pagination2">
        <% if (current == 1) { %>
            <li class="page-item disabled invisible"><a>First</a></li>
        <% } else { %>
            <li><a class="page-link" href="/diylifestyle/index/1">First</a></li>
        <% } %>

        <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a>...</a></li>
        <% } %>

        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="page-item page-link active"><a><%= i %><span class="sr-only">(current)</span></a></li>
            <% } else { %>
                <li><a class="page-link" href="/diylifestyle/index/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a>...</a></li>
            <% } %>
        <% } %>

        <% if (current == pages) { %>
            <li class="page-item disabled invisible "><a>Last</a></li>
        <% } else { %>
            <li><a class="page-item page-link" href="/diylifestyle/index/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
