<div class="paginator">
    <a href="/?page=9" class="paginator-previous">Previous</a>
    <a href="/?page=8" class="paginator-page paginator-page-first">8</a>
    <a href="/?page=9" class="paginator-page">9</a>
    <a href="/?page=10" class="paginator-current">10</a>
    <a href="/?page=11" class="paginator-page">11</a>
    <a href="/?page=12" class="paginator-page paginator-page-last">12</a>
    <a href="/?page=11" class="paginator-next">Next</a>
</div>