<section class="orange-section" id="pricing">
    <h2 class="section-heading">A Plan for Every Fitso's Needs</h2>
    <p>Simple and affordable price meal plans for you and your loved ones</p>
    <div class="row">
      <div class="pricing-column col-lg-4 col-md-6 animating">
        <div class="card">
          <div class="card-header">
            <h3>Commis Chef</h3>
          </div>
          <div class="card-body-price">
            <h2 class="price-text">Free</h2>
            <p>5 Meals Design Per Day</p>
            <p>10 Meals Sharing Per Day</p>
            <p>Unlimited App Usage</p>
            <a class="btn btn-warning my-1" href="/diylifestyle/signup">SIGN UP</a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6 animating">
        <div class="card">
          <div class="card-header">
            <h3>Sous Chef</h3>
          </div>
          <div class="card-body-price ">
            <h2 class="price-text">$9 /month</h2>
            <p>Unlimited Meal Design</p>
            <p>Unlimited Meal Sharing</p>
            <p>Unlimited App Usage</p>
            <a class="btn btn-warning my-1" href="/diylifestyle/signup">SIGN UP</a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 animating">
        <div class="card">
          <div class="card-header">
            <h3>Chef De Cuisine</h3>
          </div>
          <div class="card-body-price">
            <h2 class="price-text">$99 /year</h2>
            <p>Pirority Listing</p>
            <p>Unlimited Meal Design & Sharing</p>
            <p>Unlimited App Usage</p>
            <a class="btn btn-warning my-1" href="/diylifestyle/signup">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </section>