<section class="orange-section py-5" id="testimonials">
    <h2>Hear what our users have to say!</h2>
        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <h4 class="testimonial-text py-2">"I no longer have to worry about what to eat at the last minute now. With diyLifeStyle, I have committed myself to plan my meals at least one month ahead." - Ms. Jamie Tan</h4>
              <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile" height=150px ">
              <em>Bedok, Singapore</em>
            </div>
            <div class="carousel-item container-fluid">
                <h4 class="testimonial-text py-2">"I am a very busy person, with diyLifeStyle, I need not care about what I need to eat the next day when I am busy." - Mr. Jonny Yap</h4>
                <img class="testimonial-image" src="images/man-img.jpg" alt="man-profile" height=150px">
                <em>Yishun, Singapore</em>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
          </a>
        </div>
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">

   
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
