<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diylifestyle</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/main.css" />
    <header>
      <div class="navbar navbar-light bg-light shadow-lg">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fas fa-bullseye"></i>
            <img src="images/diylifestyle_logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
</head>
<body>
    <div class="mainfont" style="color: white;">
        Design your <br> own Food & <br> Exercise Regime
    </div>
</body>
</html>