body {
  background-image: url(images/background.jpg);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 200px;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  -webkit-box-pack: center;
  justify-content: center;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.mainfont {
  margin-top: 350px;
  margin-right: 800px;
  font-size: 80px;
  text-align: left;
  font-weight: bold;
  line-height: 1.1em;
}

.text {
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding-top: 1rem;
}

th,
td {
  padding: 10px 30px;
  text-align: center;
  border: 1px solid black;
}
th:first-child,
td:first-child {
  border: 1px solid black;
  padding-left: 10;
}
th:last-child,
td:last-child {
  border: 1px solid black;
  padding-right: 10;
}

.slidecontainer {
  width: 100%;
}

.tab {
  overflow: hidden;
  border: 3px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 25px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #ccc;
  border-top: none;
  background-color: #f1f1f1;
  border-radius: 25px;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {
  color: red;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.card {
  border-radius: 25px;
  border: 3px solid #ccc;
  background-color: #f1f1f1;
}

.animating:hover {
  animation: animating 2s;
}

@keyframes animating {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, -22);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

img:hover {
  animation: shake 2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
