/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  /* display: flex; */
  -webkit-box-align: center;
  align-items: center;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: url(images/favicon.ico), auto;
}

p {
  color: #8f8f8f;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

textarea {
  width: 300px;
  height: 100px;
}

.container-fluid {
  padding: 5% 10%;
}

/* HOMEPAGE */
.mainfont {
  padding-top: 400px;
  padding-bottom: 50px;
  margin-right: 800px;
  margin-left: 80px;
  margin-bottom: 0px;
  font-size: 4.5rem;
  text-align: left;
  font-weight: bold;
  line-height: 1.1em;
}

/* SECTIONS */
.title-section {
  background-image: url(images/background.jpg);
  background-size: cover;
  color: #fff;
  text-align: left;
}

.orange-section {
  background-color: #ffe5b8;
}

.orange-background {
  /* background-color: #ffe5b8; */
  background: linear-gradient(30deg, #ecc4ff, #ffcb7d, #fde7fb, #ffda9a);
  margin-top: 100px;
}

.white-section {
  background-color: #fff;
}

/* FEATURES & ICON SECTION */

#features {
  position: relative;
}

.feature-title {
  color: #353535;
  font-size: 35px;
}

.feature-box {
  padding: 1% 5%;
}

.icon {
  color: #feac1e;
  margin-bottom: 1rem;
}

.icon:hover,
.card-header:hover {
  color: #ff8800;
}

.illustrate-words {
  padding-top: 150px;
}

/* PRICING SECTION */
#pricing {
  padding: 120px;
}

.price-text {
  font-size: 2rem;
  line-height: 1;
}

.pricing-column {
  padding: 3% 1.5%;
}

/* CONTACT SECTION */
.contact-form {
  padding: 3% 10%;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.list-group {
  border-radius: 20px;
}

/* LOGIN & SIGNUP PAGE */
.login,
.signup {
  display: flex;
  margin-top: 100px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/* NAVIGATION TAB */
.nav-item {
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link:hover {
  font-weight: bold;
}

.bt {
  border-radius: 50%;
}

.btn:hover,
.fa:hover {
  font-weight: bold;
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #feac1e;
    opacity: 0.8;
  }
}

.navbar-collapse {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  margin-left: 400px;
}

/* TABLE */
table {
  margin: auto;
}

th,
td {
  padding: 2px 20px;
  text-align: center;
  border: 1px solid #585858;
}

th:first-child,
td:first-child {
  border: 1px solid #585858;
  padding-left: 5;
}

th:last-child,
td:last-child {
  border: 1px solid #585858;
  padding-right: 5;
}

/* SLIDER TAB */
.slidecontainer {
  width: 80%;
  margin: auto;
}

.tab {
  overflow: hidden;
  border: 0.5px solid #feac1e;
  background-color: #ffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* TAB BUTTONS */
.tab button {
  background-color: #e7e7e7;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: inherit;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0.5px solid #feac1e;
  border-top: none;
  background-color: #ffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-transform: capitalize;
}

.tab button:hover {
  font-weight: bold;
  color: #feac1e;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {
  color: red;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* CARDS */
.card {
  border-radius: 20px;
  background-color: #f1f1f1;
  height: 33rem;
}

.card-price {
  border-radius: 20px;
  background-color: #f1f1f1;
}

.card-body {
  background-color: #fff;
  border-radius: 20px;
}

.card-body-price {
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1em;
}

.card:hover,
.card-body:hover,
.card-price:hover {
  border: 0.5px solid #feac1e;
  -moz-box-shadow: 10 50 10px #feac1e;
  -webkit-box-shadow: 0 0 20px #feac1e;
  box-shadow: 10 10 50px #feac1e;
}

.card-header {
  border-radius: 20px;
  background-color: transparent;
}

/* TESTIMONIAL */
.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
  color: #585858;
}

.testimonial-image {
  border-radius: 50%;
}

/* FAQ */
.content-section-short.faqs {
  padding-top: 10px;
}
.content-section-short {
  position: relative;
  padding: 60px 3%;
  background-color: transparent;
}
.faqs-container {
  width: 100%;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.faq-question-wrap {
  border-style: solid;
  border-width: 2px 2px 0px;
  border-color: #000;
}

.faq-question-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #191b22;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
}

.faq-content {
  overflow: hidden;
  margin-top: -2px;
}

.faq-paragraph {
  margin-bottom: 0px;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.25px;
}

/* Logo Sign In*/
.fa {
  padding: 10px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-user {
  color: #feac1e;
  background: transparent;
}

.googleProfile {
  border-radius: 50%;
  border: 5px solid #feac1e;
}

.jumbotron {
  border: 5px solid #feac1e;
}

.calendar {
  border-radius: 25px;
  width: 800px;
  height: 600px;
}

/* FOOTER */
.social-icon {
  padding-left: 10px;
}

/* ANIMATION */
.animating:hover {
  animation: animating 2s;
}

@keyframes animating {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, -22);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

img:hover {
  animation: shake 2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1400px) {
  .index_img {
    height: 200px;
    width: 200px;
  }
  .list-group-item {
    font-size: 18px;
  }
  .card {
    height: 30rem;
  }
}

@media (max-width: 1200px) {
  .index_img {
    height: 150px;
    width: 150px;
  }
  .list-group-item {
    font-size: 15px;
  }
  .card {
    height: 28rem;
  }
  .btn {
    font-size: 14px;
  }
}

@media (max-width: 990px) {
  .card {
    height: 26rem;
  }
  .calendar {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .imgSize {
    height: 350px;
    width: 350px;
  }

  .card {
    height: 26rem;
  }

  .btn {
    font-size: 12px;
  }

  p {
    color: #8f8f8f;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
  }

  .mainfont {
    padding-top: 200px;
    margin-right: 120px;
    margin-left: 25px;
    font-size: 3.5rem;
  }

  .illustrate-words {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .feature-title {
    color: #353535;
    font-size: 28px;
  }

  #pricing {
    padding: 60px;
  }
}

@media (max-width: 300px) {
  .card {
    height: 30rem;
  }
  .navbar-toggler {
    margin-left: 320px;
  }
  .calendar {
    width: 280px;
    height: 300px;
  }
}
