<%- include("../partials/header.ejs") %>
<body class="orange-section login">
  <div class="card shadow-lg mb-3">
    <div class="card-body">
      <div class="text-center">
        <form class="form-signin" method="POST" action="/users/login">
          <div>
            <h1 class="h3 mb-5 font-weight-normal">Schedule Your New Dish:<br> <strong><%= data.name %></strong> </h1>
          </div>
          <div>
            <iframe class="calendar py-5 orange-section" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23F6BF26&ctz=Asia%2FSingapore&src=OG9kZHB2YW02MWVuNDB2bXFucXR2MGQ2NmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23795548&showTz=1&showNav=1" frameborder="0" scrolling="no"></iframe>
          </div>
          <button class="btn btn-lg btn-secondary btn-block" type="submit" >Save</button>
        </form>
      </div>
    </div>
    <%- include("../partials/footer_v2.ejs") %>
  </div>
  <script type="text/javascript" src="/navbar.js"></script>
</body>

</html>
