<!doctype html>
<html>
  <head>
    <title>Google SignedIn</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body{ padding-top:40px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div style="text-align: center;"><img src="/images/diylifestyle_logo.png"  alt="logo"></div>
        <hr class="my-4">
        <h1 class="text-center display-5">Welcome On Board!  <span class="fa fa-user"></span> <%= username%></h1>
          <p class="text-center">Are you ready to create more awesome meal designs?</p>
        <div style="text-align: center;">
          <a href="/diylifestyle/index/1" style="text-align: center;"class="btn btn-secondary my-2">GO TO YOUR ACCOUNT</a>
        </div>
      </div>
    </div>
  </body>
</html> 