<%- include("../partials/header.ejs") %>
<body>
  <%- include("../partials/alert.ejs") %>
    <div class="mainfont" style="color: white;">
        Design your <br> own Food & <br> Exercise Regime
    </div>
</body>
</html>
