<%- include("../partials/header.ejs") %>
    <div class="mainfont" style="color: white;">
        Design your <br> own Food & <br> Exercise Regime
    </div>
    <script type="text/javascript" src="/navbar.js"></script>
</body>
</html>
