<%- include("../partials/header.ejs") %>
    <div class="mainfont" style="color: white;">
        Design your <br> own Food & <br> Exercise Regime
    </div>
</body>
<script>
    // Navbar Button Toggler for Phone screen size
    const navbarBtn = document.querySelector(".navbar");
    console.log(navbarBtn);

    function navToggle(e) {
    //   console.log("hello");
    const tabTarget = document.querySelector(".navbar-collapse")
      tabTarget.classList.toggle("collapse")
    }

    navbarBtn.removeEventListener("click", navToggle);
    navbarBtn.addEventListener("click", navToggle);
</script>
</html>
