<%- include("../partials/header.ejs") %>
<body>
  <div class="card shadow-lg border-dark mb-3" style="height: 30rem; width:20rem;">
    <div class="card-body">
    <div class="text-center">
      <form class="form-signin">
        <img class="mb-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-5 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-5">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-4 text-muted">© 2021</p>
      </form>
  </div>
</div>
</div>
</body>
</html>
